* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;

  font-family: Roboto, sans-serif;
}

main {
  background-color: #ffffff;
  color: #39393a;

  width: 80%;
  margin: 40px auto;
  border-radius: 10px;

  padding: 40px;
}

h1,
h2 {
  color: #1b1b1b;
  text-transform: uppercase;
}

h1 {
  font-size: 1.75rem;

  text-align: center;
  padding: 50px 0 15px;
}

h2 {
  font-size: 1.25rem;
  text-align: center;

  margin-bottom: 10px;
}

section {
  margin-top: 20px;
}

.image {
  text-align: right;
}

.image img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  margin-bottom: 5px;

  object-fit: cover;
}

ul,
ol {
  list-style-position: inside;
}

li,
p {
  font-size: 1rem;
  line-height: 26px;
}

footer p,
.image {
  color: #8f8f8f;
  font-size: 0.75rem;
}

footer p a {
  color: #bf23d6;
  font-weight: bold;
}

footer p {
  text-align: center;

  margin-bottom: 20px;
}
